USE [CAFE2]
GO
/****** Object:  Table [dbo].[BILLS]    Script Date: 12/30/2020 3:20:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILLS](
	[BILLS_Id] [varchar](10) NOT NULL,
	[BILLS_TimeIn] [datetime] NULL,
	[BILLS_TimeOut] [datetime] NULL,
	[STAFFS_Id] [varchar](10) NULL,
	[BILLS_Price] [money] NULL,
	[TABLES_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BILLS_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DRINKS]    Script Date: 12/30/2020 3:20:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DRINKS](
	[DRINKS_Id] [varchar](10) NOT NULL,
	[DRINKS_Name] [nvarchar](50) NULL,
	[DRINKS_Price] [money] NULL,
	[DRINKS_Status] [nvarchar](50) NULL,
	[TYPE_DRINKS_Id] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DRINKS_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INFO_BILLS]    Script Date: 12/30/2020 3:20:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INFO_BILLS](
	[BILLS_Id] [varchar](10) NOT NULL,
	[DRINKS_Id] [varchar](10) NOT NULL,
	[INFO_Amount] [int] NULL,
	[INFO_Price] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOGIN]    Script Date: 12/30/2020 3:20:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN](
	[LOGIN_Id] [varchar](10) NOT NULL,
	[LOGIN_Password] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LOGIN_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFFS]    Script Date: 12/30/2020 3:20:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFFS](
	[STAFFS_Id] [varchar](10) NOT NULL,
	[STAFFS_Name] [nvarchar](50) NULL,
	[STAFFS_Position] [nvarchar](50) NULL,
	[STAFFS_Birthday] [date] NULL,
	[STAFFS_Address] [nvarchar](100) NULL,
	[STAFFS_Datein] [date] NULL,
	[STAFFS_Phone] [varchar](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[STAFFS_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TABLES]    Script Date: 12/30/2020 3:20:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TABLES](
	[TABLES_Id] [int] NOT NULL,
	[TABLES_NAME] [nvarchar](20) NULL,
	[TABLES_Status] [nvarchar](100) NOT NULL,
	[ZONES_Id] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TABLES_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TYPE_DRINKS]    Script Date: 12/30/2020 3:20:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYPE_DRINKS](
	[TYPE_DRINKS_Id] [varchar](10) NOT NULL,
	[TYPE_DRINKS_Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TYPE_DRINKS_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZONES]    Script Date: 12/30/2020 3:20:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZONES](
	[ZONES_Id] [varchar](10) NOT NULL,
	[ZONES_Name] [nvarchar](50) NULL,
	[ZONES_Table] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ZONES_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BILLS] ([BILLS_Id], [BILLS_TimeIn], [BILLS_TimeOut], [STAFFS_Id], [BILLS_Price], [TABLES_Id]) VALUES (N'BL01', CAST(N'2020-09-29T12:15:43.720' AS DateTime), CAST(N'2020-09-29T12:15:43.720' AS DateTime), N'NV004', 49000.0000, 1)
INSERT [dbo].[BILLS] ([BILLS_Id], [BILLS_TimeIn], [BILLS_TimeOut], [STAFFS_Id], [BILLS_Price], [TABLES_Id]) VALUES (N'BL02', CAST(N'2020-09-29T12:15:43.720' AS DateTime), CAST(N'2020-09-29T12:15:43.720' AS DateTime), N'NV005', 103000.0000, 2)
INSERT [dbo].[BILLS] ([BILLS_Id], [BILLS_TimeIn], [BILLS_TimeOut], [STAFFS_Id], [BILLS_Price], [TABLES_Id]) VALUES (N'BL03', CAST(N'2020-09-29T12:15:43.720' AS DateTime), CAST(N'2020-09-29T12:15:43.720' AS DateTime), N'NV005', 55000.0000, 3)
INSERT [dbo].[DRINKS] ([DRINKS_Id], [DRINKS_Name], [DRINKS_Price], [DRINKS_Status], [TYPE_DRINKS_Id]) VALUES (N'DR01', N'ESPRESSO', 15000.0000, N'1', N'TP01')
INSERT [dbo].[DRINKS] ([DRINKS_Id], [DRINKS_Name], [DRINKS_Price], [DRINKS_Status], [TYPE_DRINKS_Id]) VALUES (N'DR010', N'CÀ PHÊ ĐEN ĐÁ', 18000.0000, N'1', N'TP02')
INSERT [dbo].[DRINKS] ([DRINKS_Id], [DRINKS_Name], [DRINKS_Price], [DRINKS_Status], [TYPE_DRINKS_Id]) VALUES (N'DR011', N'CÀ PHÊ SỮA ĐÁ', 21000.0000, N'1', N'TP02')
INSERT [dbo].[INFO_BILLS] ([BILLS_Id], [DRINKS_Id], [INFO_Amount], [INFO_Price]) VALUES (N'BL01', N'DR027', 1, 26000.0000)
INSERT [dbo].[INFO_BILLS] ([BILLS_Id], [DRINKS_Id], [INFO_Amount], [INFO_Price]) VALUES (N'BL8967', N'DR029', 2, 28000.0000)
INSERT [dbo].[INFO_BILLS] ([BILLS_Id], [DRINKS_Id], [INFO_Amount], [INFO_Price]) VALUES (N'BL8967', N'DR019', 2, 36000.0000)
INSERT [dbo].[LOGIN] ([LOGIN_Id], [LOGIN_Password]) VALUES (N'NV0010', N'12345678')
INSERT [dbo].[LOGIN] ([LOGIN_Id], [LOGIN_Password]) VALUES (N'NV004', N'12345678')
INSERT [dbo].[LOGIN] ([LOGIN_Id], [LOGIN_Password]) VALUES (N'NV005', N'12345678')
INSERT [dbo].[STAFFS] ([STAFFS_Id], [STAFFS_Name], [STAFFS_Position], [STAFFS_Birthday], [STAFFS_Address], [STAFFS_Datein], [STAFFS_Phone]) VALUES (N'NV0010', N' K', N'Nhân Viên', CAST(N'2001-11-23' AS Date), N'99 Nguyễn Huệ', CAST(N'2020-01-20' AS Date), N'915843257')
INSERT [dbo].[STAFFS] ([STAFFS_Id], [STAFFS_Name], [STAFFS_Position], [STAFFS_Birthday], [STAFFS_Address], [STAFFS_Datein], [STAFFS_Phone]) VALUES (N'NV004', N'Lê Thị D', N'Nhân Viên', CAST(N'1999-10-21' AS Date), N'20 Phạm Văn Đồng', CAST(N'2018-05-19' AS Date), N'915843443')
INSERT [dbo].[STAFFS] ([STAFFS_Id], [STAFFS_Name], [STAFFS_Position], [STAFFS_Birthday], [STAFFS_Address], [STAFFS_Datein], [STAFFS_Phone]) VALUES (N'NV005', N'Nguyễn Thị E', N'Nhân Viên', CAST(N'1998-08-15' AS Date), N'20 Lê Lợi', CAST(N'2019-03-22' AS Date), N'915843245')
INSERT [dbo].[TABLES] ([TABLES_Id], [TABLES_NAME], [TABLES_Status], [ZONES_Id]) VALUES (1, N'Bàn 1', N'0', N'Z_1')
INSERT [dbo].[TABLES] ([TABLES_Id], [TABLES_NAME], [TABLES_Status], [ZONES_Id]) VALUES (2, N'Bàn 2', N'0', N'Z_1')
INSERT [dbo].[TABLES] ([TABLES_Id], [TABLES_NAME], [TABLES_Status], [ZONES_Id]) VALUES (3, N'Bàn 3', N'0', N'Z_1')
INSERT [dbo].[TYPE_DRINKS] ([TYPE_DRINKS_Id], [TYPE_DRINKS_Name]) VALUES (N'TP01', N'Cà Phê Ý')
INSERT [dbo].[TYPE_DRINKS] ([TYPE_DRINKS_Id], [TYPE_DRINKS_Name]) VALUES (N'TP02', N'Cà Phê Việt Nam')
INSERT [dbo].[TYPE_DRINKS] ([TYPE_DRINKS_Id], [TYPE_DRINKS_Name]) VALUES (N'TP03', N'COLD BREW')
INSERT [dbo].[ZONES] ([ZONES_Id], [ZONES_Name], [ZONES_Table]) VALUES (N'Z_1', N'Tầng 1', 10)
INSERT [dbo].[ZONES] ([ZONES_Id], [ZONES_Name], [ZONES_Table]) VALUES (N'Z_2', N'Tầng 2', 5)
ALTER TABLE [dbo].[BILLS]  WITH CHECK ADD  CONSTRAINT [FK_BILLS_STAFFS] FOREIGN KEY([STAFFS_Id])
REFERENCES [dbo].[STAFFS] ([STAFFS_Id])
GO
ALTER TABLE [dbo].[BILLS] CHECK CONSTRAINT [FK_BILLS_STAFFS]
GO
ALTER TABLE [dbo].[BILLS]  WITH CHECK ADD  CONSTRAINT [FK_BILLS_TABLES] FOREIGN KEY([TABLES_Id])
REFERENCES [dbo].[TABLES] ([TABLES_Id])
GO
ALTER TABLE [dbo].[BILLS] CHECK CONSTRAINT [FK_BILLS_TABLES]
GO
ALTER TABLE [dbo].[DRINKS]  WITH CHECK ADD  CONSTRAINT [FK_DRINKS_TYPE_DRINKS] FOREIGN KEY([TYPE_DRINKS_Id])
REFERENCES [dbo].[TYPE_DRINKS] ([TYPE_DRINKS_Id])
GO
ALTER TABLE [dbo].[DRINKS] CHECK CONSTRAINT [FK_DRINKS_TYPE_DRINKS]
GO
ALTER TABLE [dbo].[INFO_BILLS]  WITH CHECK ADD  CONSTRAINT [FK_INFO_BILLS_BILLS] FOREIGN KEY([BILLS_Id])
REFERENCES [dbo].[BILLS] ([BILLS_Id])
GO
ALTER TABLE [dbo].[INFO_BILLS] CHECK CONSTRAINT [FK_INFO_BILLS_BILLS]
GO
ALTER TABLE [dbo].[INFO_BILLS]  WITH CHECK ADD  CONSTRAINT [FK_INFO_BILLS_DRINKS] FOREIGN KEY([DRINKS_Id])
REFERENCES [dbo].[DRINKS] ([DRINKS_Id])
GO
ALTER TABLE [dbo].[INFO_BILLS] CHECK CONSTRAINT [FK_INFO_BILLS_DRINKS]
GO
ALTER TABLE [dbo].[STAFFS]  WITH CHECK ADD  CONSTRAINT [FK_STAFFS_LOGIN] FOREIGN KEY([STAFFS_Id])
REFERENCES [dbo].[LOGIN] ([LOGIN_Id])
GO
ALTER TABLE [dbo].[STAFFS] CHECK CONSTRAINT [FK_STAFFS_LOGIN]
GO
ALTER TABLE [dbo].[TABLES]  WITH CHECK ADD  CONSTRAINT [FK_TABLES_ZONES] FOREIGN KEY([ZONES_Id])
REFERENCES [dbo].[ZONES] ([ZONES_Id])
GO
ALTER TABLE [dbo].[TABLES] CHECK CONSTRAINT [FK_TABLES_ZONES]
GO
